<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/Practica</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
      <mapping class="ua.nic.Practica.model.GeneratedTestEntity"/>
      <mapping class="ua.nic.Practica.model.TestEntity"/>
      <mapping class="ua.nic.Practica.model.ImageEntity"/>
      <mapping class="ua.nic.Practica.model.ImagesEntity"/>
      <mapping class="ua.nic.Practica.model.LocatedEntity"/>
      <mapping class="ua.nic.Practica.model.TradingFloorEntity"/>
      <mapping class="ua.nic.Practica.model.UserEntity"/>
      <mapping class="ua.nic.Practica.model.CustomerEntity"/>
      <mapping class="ua.nic.Practica.model.SubscriberEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
